body {
    font-family: 'Josefin Sans';
    background-color: #000000;
  }
  .navbar {
    position: relative;
    z-index: 1050; /* Garantir que o menu está acima de outros elementos */
  }
  .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif; /* Definir a família de fontes */
    font-weight: 700; /* Peso da fonte */
    font-size: 1.1rem; /* Tamanho da fonte */
    text-transform: uppercase; /* Deixa o texto em maiúsculo */
  }  
  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Peso da fonte para o título */
  }
  .MuiTypography-root {
    color: #385fc8;
  }
  .MuiButtonBase-root {
    color: #385fc8;
  }
 
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .right-arrow,
  .left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1692e;;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .right-arrow {
    right: 140px;
  }
  
  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.3, 1.3);
  }
  
  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail-image {
    width: 729px;
    height: 742px;
  }
  
  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
  
  }
  
  .exercise-card {
    width: 400px;
    height: 445px;
    background: #f5d5c5;
    border-top: 4px solid #f1692e;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow: 2px 2px 2px 1px rgba(255, 186, 186, 0.829);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card img {
    height: 326px;
  }
  
  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;    
  }
  
  .exercise-card:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);    
  }
  
  .search-btn:hover {
    color: #da8e37 !important;
    border: 1px solid #5b72b4 !important;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }
  
  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }

/*   @media screen and (max-width:900px) {
    .detail-image {
      width: 200px;
      height: 200px;
    }
 */
 
  
    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }
  
    .left-arrow,
    .right-arrow {
      position: static !important;
    }
  
    .hero-banner-img {
      display: none;
    }
  
    .exercise-card {
      width: 320px;
    }
  
    .exercise-video {
      width: 320px;
      height: 300px;
    }
  
  }
  
  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }

  